



<div class="center jumbotron">
<h1>
HAI BISOGNO DI UNA FATTURA? YES WE BILL</h1>
<h2>

ISCRIVITI, BASTA UN CLICK
</h2>
<%= link_to"Sign up today", login_path, :class=>"btn btn-large btn-success pull-right"%></a></p>
</div>
