
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Sei alla ricerca di un sito di fatturazione, facile da usare e sicuro, Yes We Bill fa per te.</h3>
      <p class="text-center">
        Ogni richiesta del cliente è nostro dovere soddisfarla.
      </p>
    </div>
  </div>
</div>

<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-4">
            <!-- begin panel group -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <!-- panel 1 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">COME ISCRIVERTI?</h4>
                        </div>
                    </span>

                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        <%= link_to'Sign Up', new_user_path%>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        <%= link_to'Log In', clients_path%>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
                      </button>
            </form>
          </div>
          </div>
                </div>
                <!-- / panel 1 -->




            </div> <!-- / panel-group -->

        </div> <!-- /col-md-4 -->

        <div class="col-md-8">
            <!-- begin macbook pro mockup -->
            <div class="md-macbook-pro md-glare">
                <div class="md-lid">
                    <div class="md-camera"></div>
                    <div class="md-screen">
                    <!-- content goes here -->
                        <div class="tab-featured-image">
                            <div class="tab-content">
                                <div class="tab-pane  in active" id="tab1">
                                        <img src="https://dm2ue6l6q7ly2.cloudfront.net/wp-content/uploads/sites/3/2017/03/15171857/fattura_412712671.jpg" alt="tab1" class="img img-responsive">
                                </div>
                                <div class="tab-pane " id="tab2">

                                        <img src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?dpr=2&fit=crop&fm=jpg&h=650&q=75&w=950">

                                </div>
                                <div class="tab-pane fade" id="tab3">

                                        <img src="https://ununsplash.imgix.net/photo-1422479516648-9b1f0b6e8da8?dpr=2&fit=crop&fm=jpg&h=650&q=75&w=950" alt="tab1" class="img img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-base"></div>
            </div> <!-- end macbook pro mockup -->
        </div> <!-- / .col-md-8 -->
    </div> <!--/ .row -->
</div> <!-- end sidetab container -->
<div class="container">
    <div class="page-header">
      SVILUPPATORI
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Francesco Salani</h3>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Luca Buisic</h3>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>Simone Anzelini</h3>
        <p></p>
      </div>
    </div>
    </div>

</div>
