<div class="center jumbotron">
  <h1>Hai bisogno di una fattura, tranquillo, Yes We Bill fa per te</h1>
</div>

<div class="conversion-section clearfix">
        <div class="container">
          <div class="conversion">
            <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
              <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-success" %>
                <i class="ti-shopping-cart">
                </i>
                 
              </a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h3>
                Iscriversi è semplice.
              </h3>
              <p>
                Clicca il bottone Sign Up
              </p>
            </div>
          </div>
        </div>
      </div>
<footer id="footer">
        <div class="container">
          <div class="col-sm-4">

              Kupon,travel deals & publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industrie.
            </p>
          </div>
          <div class="col-sm-4">
            <h5>
              COMMON REQUEST
            </h5>
            <ul class="places">
              <li>
                <a href="#" class="place">
                  BILLS
                </a>
              </li>
              <li>
                <a href="#" class="place">
                  DIGITAL SIGNATURES
                </a>
              </li>
              <li>
                <a href="#" class="place">
                  BILLS FOR COMPANY
                </a>
              </li>
              <li>
                <a href="#" class="place">
                  BILLS PDF
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>
              CATEGORIES
            </h5>
            <ul class="list-unstyled">
              <li> <a href="#"> BILLS </a> </li>
              <li> <a href="#"> HELP </a> </li>
              <li> <a href="#"> HOME </a> </li>
              <li> <a href="#"> LOG IN  </a> </li>
              <li> <a href="#"> SIGN UP</a> </li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>
              ABOUT US
            </h5>
            <ul class="list-unstyled">
              <li> <a href="#"> Home </a> </li>
              <li> <a href="#"> About Us </a> </li>
              <li> <a href="#"> Services </a> </li>
              <li> <a href="#"> Terms  </a> </li>
              <li> <a href="#"> Policies </a> </li>
              <li> <a href="#"> List your Site </a> </li>
            </ul>
          </div>
        </div>
        <div class="footerbottom">
          <div class="container">
            <div class="col-sm-7">
              <p>
                <strong>
                  Copyright 2015
                </strong>
                Kupon- deals and Coupons template made with
                <strong>
                  by Codenpixel
                </strong>
              </p>
            </div>
            <div class="col-sm-5 ">

            </div>
          </div>
        </div>
      </footer>
